<main>
  <div class="container">
    <div class="jumbotron">
      <div class="media d-flex align-items-center">
        <div class="float-left mr-3">
          <a href=<%= @user.uri %>>
            <img src=<%= @user.profile_image_uri %> class="img-fluid" width="48px" height="48px">
          </a>
        </div>
        <div>
          <span><%= @user.name %></span>
          <span class="text-muted">@<%= @user.screen_name %></span>
          <div><%= @user.description %></div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row no-gutters">
      <% @image_tweets.each do |image_tweet| %>
      <div class="col-2">
        <a href=<%=image_tweet[0] %>>
          <img src="<%= image_tweet[1] %>" class="img-trim img-fluid">
        </a>
      </div>
      <% end %>
    </div>
  </div>
  <div id="loadimg"></div>
</main>
<script type="text/javascript" src="js/result.js"></script>